In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName("dadosfaltantes").getOrCreate()

In [ ]:
df = spark.read.csv("/home/leo/colaboradores_data_missing.csv",header=True,inferSchema=True)

In [ ]:
df.show()

In [ ]:
df.na.drop().show()

In [ ]:
df.na.drop(thresh=5).show()

In [ ]:
df.na.drop(subset=["salario"]).show()

In [ ]:
df.na.drop(how='any').show()

In [ ]:
df.na.drop(how='all').show()

In [ ]:
df.na.fill('NÃO NULO').show()

In [ ]:
df.na.fill(0).show()

In [ ]:
df.na.fill('NÃO NULO',subset=['departamento']).show()

In [ ]:
from pyspark.sql.functions import mean
mean_val = df.select(mean(df['salario'])).show()

In [ ]:
df.na.fill(4750.0,["salario"]).show()